<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <Sounds>
    <Amount key="AmountOfSoundFiles" value="2"></Amount>
    <Path key="Path0" Value="Melodi1.wav"></Path>
    <Path key="Path1" Value="Melodi1.wav"></Path>
  </Sounds>
</configuration>
