<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--Sound settings-->
    <add key="AmountOfSoundFiles" value="2" />
    <add key="SoundPath0" value="Melodi1.wav" />
    <add key="SoundPath1" value="Melodi2.wav" />
    <!--End Sound-->
  </appSettings>
</configuration>
